.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-height {
    padding-top: 45vh;
}


.counter-text {
    text-align: center;
    font-size: xx-large;
    padding: 10px;
}

.pad-top {
    padding-top: 10px;
}